* {
    padding: 0;
    margin: 0;
    outline: none;
  }
  /*Body*/
  body {
    margin: 0px;
    font-family: "Poppins";
    background: #f0f8ff;
    background: #7f7fd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #91eae4,
      #86a8e7,
      #7f7fd5
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  }
  /*Container*/
  .container {
    margin: 20px;
    min-height: 100vh;
  }
  /*Header*/
  .phone-header {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header img {
    width: 316px;
  }
  .header h1 {
    margin-top: 70px;
    padding: 0;
    margin-bottom: 10px;
    padding-right: 20px;
  }
  
  /*Navigation*/
  .nav {
    width: 100%;
    background: #142b47;
    overflow: auto;
    display: flex;
    justify-content: space-between;
  }
  .nav ul {
    list-style: none;
    line-height: 50px;
    display: flex;
  }
  .nav ul li a {
    background: #142b47;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #f2f2f2;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin: 0 20px 0 20px;
  }
  .nav ul li a:hover {
    color: #f0f8ff;
    opacity: 0.75;
  }
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color:#f2f2f2;
    background-color: inherit;
    font-family: inherit;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #142b47;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    font-size: 20px;
    color: rgb(253, 241, 241);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    color: #f0f8ff;
    opacity: 0.75;
  }
  .dropbtn:hover {
    color: #f0f8ff;
    opacity: 0.75;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .navi {
    display: none;
  }
  /*Search Button*/
  .search {
    margin-top: 6px;
    margin-right: 10px;
  }
  .text {
    padding: 7px;
    border: none;
    font-size: 20px;
    border-radius: 10px 0 0 10px;
  }
  .search button {
    background-color: orange;
    color: white;
    cursor: pointer;
    position: relative;
    padding: 7px;
    border: none;
    font-size: 20px;
    border-radius: 0 10px 10px 0;
  }
  .search button a {
    text-decoration: none;
    color: #fff;
  }
  .phone-header, .phone-nav {
    display: none;
  }
/*Main Content*/
main {
    display: flex;
    margin: 0 100px;
}
.playlists {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playlists h2 {
    margin: 20px;
}
.videos {
    min-height: 80vh;
    margin-top: 20px;
    border-left: 1pt solid #000;
    padding-left: 10px;
}
.card-thumbnail {
    width: 200px;
    height: 130px;
}
.card {
    margin-bottom: 20px;
    padding: 10px;
}
.card h3 {
    font-size: 15px;
}
.card p {
    font-size: 10px;
}
.card:hover, .active {
    background: #A7EFFF;
    cursor: pointer;
}
.video{
    display: flex;
}
.video a {
    color: #000;
    text-decoration: none;
}
.videos h2 {
    font-size: 25px;
    margin: 0 0 20px 10px;
}
/*Footer*/
footer {
    background: #f1f1f1;
    padding: 90px 0;
  }
  .footer img {
    width: 180px;
    margin: 0;
  }
  .footer {
    max-width: 100%;
    margin: auto;
    padding: 90px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social {
    margin: 20px 20px;
  }
  .rights {
    margin: 20px;
  }
  .social a {
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s linear;
  }
  .social a:hover {
    color: #fc5c65;
  }
  .right-col h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .right-col p {
    margin: 10px 0;
  }
  .border {
    width: 100px;
    height: 4px;
    background: #fc5c65;
  }
  .newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .textbox {
    padding: 15px;
    font-size: 16px;
    color: #293043;
    background: #fff;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
  }
  .btn {
    padding: 15px;
    font-size: 16px;
    color: #293043;
    background: rgb(245, 163, 97);
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity 0.3s linear;
  }
  .btn:hover {
    opacity: 0.7;
  }
  